main {
    position: relative;
    padding: 20px;
}

h3, h2 {
    margin: 0;
}

.icon {
    width: 38px;
    padding-right: 10px;
}

button {
    display: block;
    margin-top: 40px;
    color: lightgreen;
    background: none;
    border: 1px solid lightgreen;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
    width: auto;
    height: 35px;
}

.resume-download:focus {
    color: #2a2a2a;
    background: lightgreen;
}

button:hover {
    box-shadow: 0 0 5px lightgreen;
}

.read-more {
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper:nth-child(2) {
    background-color: #2a2a2a;
}

.content-wrapper:nth-child(4) {
    background-color: #2a2a2a;
}

.introduction {
    display: flex;
    padding-left: 195px;
}

.intro-container {
    padding: 30px;
    margin: 10px 30px;
}

.profile {
    float: right;
    padding: inherit;
    margin: auto;
    width: 460px;
    display: block;
}

.color-about {
    text-align: center;
}

.about {
    padding-top: 65px;
    padding-bottom: 65px;
}

.projects {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
}

.column {
    grid-row: 1;
    padding: 25px 4px 0;
}

.project-img {
    width: 18%;
    margin-right: 10px;
}

.about-me {
    margin-left: 240px;
    margin-right: 240px;
}

[class|="color"] {
    color: lightgreen;
}

@media (max-width: 768px){
    .introduction .profile {
        display: none;
    }

    .introduction {
        display: block;
        text-align: center;
    }

    .git-icon, .linkedin-icon{
        text-align: center;
    }

    .resume-download {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px){
    .introduction .profile {
        display: none;
    }

    .introduction {
        display: block;
        text-align: center;
    }

    .git-icon, .linkedin-icon{
        text-align: center;
    }

    .resume-download {
        margin-left: auto;
        margin-right: auto;
    }

    .introduction {
        display: block;
        padding-left: 0px;
    }

    .intro-container {
        margin-right: 10px;
    }

    .about-me {
        margin-left: 30px;
        margin-right: 30px;
    }

}

@media (max-width: 900px){

    p {
        font-size: 10px;
    }

    button {
        font-size: 11px;
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 15px;
    }

    .profile {
        float: right;
        padding: inherit;
        margin: auto;
        width: 150px;
        display: block;
    }
}

@media (max-width: 1000px){
    .about-me {
        margin-left: 70px;
        margin-right: 70px;
    }
}