body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #171717;
    font-family: Arial, serif;
    color: white;
}

header {
    bottom: 10px;
}

nav {
    bottom: 17px;
}

.logo {
    display: block;
    float: left;
    font-size: 20px;
    position: absolute;
    top: -7px;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float: right;
    margin: -20px;
    overflow: hidden;
    font-size: 17px;
}

li .nav {
    display: block;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 19px;
    text-decoration: none;
}

li a:hover {
    color: lightgreen;
    text-decoration: underline;
}

header {
    margin-bottom: 20px;
}

header, footer, main {
    padding: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    opacity: 50%;
    background: darkgray;
}

@media (max-width: 768px){
    .introduction .profile {
        display: none;
    }

    .introduction {
        display: block;
        text-align: center;
    }

    .git-icon, .linkedin-icon{
        text-align: center;
    }

    .resume-download {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px){
    .nav-bar {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        float: right;
        margin: -13px;
        overflow: hidden;
        font-size: 14px;
    }

    li .nav {
        display: block;
        color: white;
        text-align: center;
        padding-left: 2px;
        padding-right: 9px;
        text-decoration: none;
    }
}
